/* s icons */
.ico {
  display: inline-block;
  background-size: cover;
}

.ico-popup-close {
  width: 24px;
  height: 24px;
  background-image: url(../../public/img/ico-popup-close.svg);
}

.ico-check {
  width: 14px;
  height: 14px;
  background-image: url(../../public/img/ico-check.svg);
}

.ico-kakao {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-kakao.svg);
}

.ico-copy {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-copy.svg);
}

.ico-kakao-navi {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-kakaonavi.svg);
}

.ico-tmap {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-tmap.svg);
}

.ico-naver {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-naver.svg);
}

.ico-car {
  width: 24px;
  height: 24px;
  background-image: url(../../public/img/ico-car.svg);
}

.ico-subway {
  width: 24px;
  height: 24px;
  background-image: url(../../public/img/ico-subway.svg);
}

.ico-bus {
  width: 24px;
  height: 24px;
  background-image: url(../../public/img/ico-bus.svg);
}

.ico-call {
  width: 16px;
  height: 16px;
  background-image: url(../../public/img/ico-call.svg);
}

.ico-plus {
  width: 30px;
  height: 30px;
  background-image: url(../../public/img/ico-plus.svg);
}

.ico-sms {
  width: 20px;
  height: 20px;
  background-image: url(../../public/img/ico-sms.svg);
}

.ico-walk {
  width: 24px;
  height: 24px;
  background-image: url(../../public/img/ico-walk.svg);
}
/* e icons */