/* s variables */
$font : 'Cafe24Oneprettynight', sans-serif;
$font2 : 'continuous', Sans-serif;
$black : #2E2E2E;
$black-2 : #666666;
$blue : #227c9d;
$grey-000 : #000;
$point : #F66867;
$secondary : #8C6A5D;
$hall : #005A41FF;
$white : #fff;
$line : #E0E0E0;
$grey-333 : #333;
$grey-666 : #666;
$grey-999 : #999;
$bg : #FAF9F6;
//$bg : #fdfcfc;
//$bg : #FCFCFC;
/* e variables */